body {
    font-family: 'Muli';
}


.main {
    display: flex;
    min-height: 100vh;
}

.price-max {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.compare-at-price {
    color: #6966667e;
    font-weight: bold;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    width: 25px;
}


.square {
    border: solid #ccc 1px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 5px 1px;
    font-size: .8em;
    cursor: pointer;
    color: #555;
    width: 30px;
}

.color-text,
.size-text {
    margin-right: 10px;
}

.color,
.size {
    color: #6966667e;
    font-weight: bold;
}

.price {
    display: flex;
    justify-content: space-between;
}

.counter {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #ccc 1px;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    color: #ccc;
    appearance: none;
    outline: 0;
    font-weight: bold;
}

.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #ccc;
    user-select: none;
    font-weight: bold;
}

/*estilo del carrusel*/
.carousel {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;

    gap: 1.5em;
    max-width: 200px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    cursor:auto;
    overflow:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: auto;
    border-radius: 40px;
}

.carousel::-webkit-scrollbar{
    display: none;
}



/*imagen del carrousel*/
.carousel .img {
    display: grid;   
    scroll-snap-align: center;
    padding: 100px;
    border-radius: 10px;
    color: white;
    width: 50%;
    height: 100px;
    margin-right: 10px;    
    border-radius: 5px;
   
}


.container {
    width: 50%;
}

.product {
    margin: 0 50px;
}

hr {
    background-color: #ccc;
    margin: 30px 0;
    border: none;
    height: 1px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.favorite {
    color: rgba(255, 255, 255, 0.842);
    background-color: #ccc;
    margin-right: 10px;

}

.cart {
    background-color: #333;
    color: #fff;
}

.favorite,
.cart {
    padding: 15px 50px;
    border: none;
    width: 100%;

}

.favorite:hover,
.cart:hover {
    font-weight: bold;
    transform: scale(1.01, 1.01);
}

.description {
    font-size: .9em;
    color: #ccc;
    font-weight: bold;
    margin-top: 40px;
}

footer{
    background-color: black;
}


/*@media screen and (max-width: 768px) {
    .carousel img {
        height: 200px;
    }
}*/


@media screen and (max-width: 350px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        align-content: left;
        min-height: 100vh;
    }
    .carousel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .carousel img {
        height: 50px;
    }
   
}

